@model Northwind.IDP.Controllers.UserRegisrtation.ForgotPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Forgot Password</h1>
@using (Html.BeginForm("ForgotPassword", "UserRegistration",FormMethod.Post))
{
    <p>UserName: @Html.TextBoxFor(x => x.Username)</p>
    <input value="Submit" type="submit" class="btn btn-success" />

}